<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.yxm.oa.auth.mapper.AuthorizationMapper">   

    <resultMap type="com.yxm.oa.auth.model.Authorization" id="AuthorizationResultMap">
       <result column="id" property="id"/>
       <result column="employee_id" property="employeeId"/>
       <result column="role_id" property="roleId"/>
    </resultMap> 
    
    <insert id="authorize" parameterType="com.yxm.oa.auth.model.Authorization" 
         useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO authorization(employee_id,role_id) VALUES(#{employeeId},#{roleId})
    </insert>
    
    <select id="unauthorize" parameterType="int">    
       DELETE FROM authorization where id = #{id}
    </select>  
    
    <select id="findById" parameterType="int" resultMap="AuthorizationResultMap">
        select * from authorization where id = #{id}
    </select>
    
</mapper>  