<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.yxm.oa.flow.mapper.ApplicationMapper">   

    <resultMap type="com.yxm.oa.flow.model.Application" id="ApplicationResultMap">
       <result column="id" property="id"/>
       <result column="employee_id" property="employeeId"/>
       <result column="days" property="days"/>
    </resultMap> 
    
    <insert id="create" parameterType="com.yxm.oa.flow.model.Application" 
         useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO application(employee_id,days) VALUES(#{employeeId},#{days})
    </insert>
    
    <select id="delete" parameterType="int">    
       DELETE FROM application where id = #{id}
    </select>  
    
    <select id="findById" parameterType="int" resultMap="ApplicationResultMap">
        select * from application where id = #{id}
    </select>
    
</mapper>  